
#start{
    background: linear-gradient(to right,rgb(95, 86, 86),rgb(156, 149, 149),rgb(95, 86, 86)) ;
    text-align: center;
    margin: 40px
    
}
#Restart{
    background: linear-gradient(to right,rgb(95, 86, 86),rgb(156, 149, 149),rgb(95, 86, 86)) ;
    text-align: center;
    
}
#memogame{
    font-family: 'Brush Script MT', cursive;
    color:rgb(55, 95, 75) ;
    font-size : 70px;
}
#score{
    font-family: 'Brush Script MT', cursive;
    color:rgb(53, 134, 121) ;
    font-size : 30px;
}
body{
    background: linear-gradient(to right,rgb(130, 35, 218),rgb(234, 0, 255),rgb(38, 185, 165)) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh; 
    margin: 0;
    
}

p{
    color: rgb(116, 207, 25);
    text-align: center;
    text-shadow: 0cqmax;
}
.square-container{
    display:flex   
}
.button-container{
      
    
    display:grid
}
.text-display{
    height: 90px;
    width: 90px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);   
}
.square {
    width: 150px;
    height: 80px;
    background: linear-gradient( rgb(218, 108, 35),rgb(255, 166, 0),rgb(133, 185, 38)) ;
    margin-right: 40px;
    font-size: 56px;
    cursor: pointer;    

}
.black-square {
    background: linear-gradient(to right,rgb(13, 105, 190), rgb(206, 0, 154)) ;
}



